@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --x-angel: 0deg;
  --y-angel: 0deg;
  --drop-distance: -50px;
  --x-accel: 0px;
  --y-accel: 0px;
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(34 197 94);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 103, 38);
}

.animation-delay-500 {
  animation-delay: 500ms;
}

.animation-delay-700 {
  animation-delay: 700ms;
}

.dots {
  height: max-content;
  justify-content: center;
  display: flex;
}

.dots > span {
  aspect-ratio: 1;
  border-radius: 50%;
  animation: dotAnim 0.5s alternate infinite;
}

.dots > span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots > span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotAnim {
  from {
    transform: scale(0.2);
  }

  to {
    transform: scale(1);
  }
}

.demo_wrapper {
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(4000px) rotateX(var(--x-angel)) rotateY(var(--y-angel));
}

.demo_wrapper::before {
  content: " ";
  position: absolute;
  inset: 0px;
  transform: translateZ(-49px);
  filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.demo_wrapper::after {
  content: " ";
  position: absolute;
  inset: -15px;
  transform: translateZ(var(--drop-distance));
  background: linear-gradient(
    35deg,
    rgba(134, 239, 172, 1) 17%,
    rgba(168, 85, 247, 1) 85%
  );
  border-radius: 1rem;
}

.mobile-menu {
  transform: translateX(var(--x-accel)) translateY(var(--y-accel));
}

@media screen and (max-width: 720) {
  .demo_wrapper {
    transform-style: flat;
    transform: rotate(0deg, 0deg);
  }
}

.fade-in {
  animation: fade 0.5s ease forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.right-tri::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: -10px;
  bottom: 0;
  border-style: solid;
  z-index: -1;
  border-width: 15px 0 0 15px;
  border-color: transparent transparent transparent rgb(21 128 61);
}

.left-tri::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  bottom: 0;
  z-index: -1;
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent #efefef transparent;
}

.salute {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.chat_loader {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  z-index: 1;
}

.chat_loader::before {
  content: " ";
  z-index: 2;
  position: absolute;
  width: 70px;
  aspect-ratio: 1;
  left: 0;
  top: -5px;
  background-color: rgba(209, 209, 209, 0.274);
  filter: blur(20px);
  animation: chatlog_animation 1.5s infinite linear;
}

@keyframes chatlog_animation {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(250px);
  }
}

.progress-bar {
  position: relative;
  width: 250px;
  height: 5px;
  background-color: transparent;
  border-top: 1px solid rgb(161, 161, 161);
  border-left: 1px solid rgb(161, 161, 161);
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(158, 158, 158, 0.253);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 10;
  overflow: hidden;
}

.progress-bar::before {
  content: " ";
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #22c55e;
  box-shadow: 2px 0px 10px 4px #3fdb78;
  animation: progress 2s linear forwards;
}

@keyframes progress {
  0% {
    width: 10%;
  }

  100% {
    width: 90%;
  }
}
.file-upload::before {
  content: "";
  position: absolute;
  left: 2px;
  bottom: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ffff transparent transparent transparent;
}

.scale {
  animation: scale_message 0.3s ease alternate;
  animation-iteration-count: 4;
}

@keyframes scale_message {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.colorful {
  animation: colorful_message 1s linear alternate;
  animation-iteration-count: 2;
}

@keyframes colorful_message {
  0% {
    background-color: #15803d;
  }
  16% {
    background-color: rgb(0, 255, 127);
  }
  33% {
    background-color: rgb(0, 255, 42);
  }
  50% {
    background-color: rgb(0, 200, 255);
  }
  66% {
    background-color: rgb(64, 115, 255);
  }
  83% {
    background-color: rgb(183, 0, 255);
  }
  100% {
    background-color: rgb(255, 0, 0);
  }
}

.shake {
  animation: shake_message 150ms 2 linear;
  -moz-animation: shake_message 150ms 2 linear;
  -webkit-animation: shake_message 150ms 2 linear;
  -o-animation: shake_message 150ms 2 linear;
}

@keyframes shake_message {
  0% {
    transform: translate(5px, 0);
  }
  50% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}



.finger{
  
  animation: finger_touch 0.8s alternate  24  ;
}

.circle_wave{

  animation: wave_touch 0.8s  alternate  24 ;
 
}


@keyframes finger_touch {
  0%{
    transform:scale(1.2) rotateX(0);
  }

  100%{
    transform:scale(1) rotateX(30deg);

  }
}

@keyframes wave_touch {
  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(1.2);
  }
}